/*selector universal*/
*{
    margin:0;
    padding: 0;
}
/*selector de  etiqueta*/

body{
    background-color: rgb(234, 177, 224);
    color: rgb(153, 151, 253);
}
/*selector de id*/

#contenedor{

background-color: rgb(255, 227, 251);
margin: 10px;
padding: 20px;

}
#encabezado{
width: 90%;
background-color: rgb(255, 251, 194);
margin: 1em;
border-radius: 5px;
text-align: center;


}

#menu{
    height: 53px;
    background-color: #000;
    margin: 1em;
    border-radius: 5px;
}
    

/*selector de etiqueta para el menu*/

ul{
    text-align: center;
    padding: 20px;

}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;


}
.img:hover{
    width: 100%;
    height: 200px;
}
li a:hover{

    color: rgb(192, 53, 150);
    font-size: 20px;
    text-decoration: none;
    list-style: none;

}
/*selector de clase*/

.img{

    width: 50%;
    border-radius: 30%;
    justify-items: center;

}
.texto{

    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: #000;

}
.pie {

    height: 20px;
    width: 90%;
    background-color: rgb(119, 177, 228);
    margin: 1.5em;
    text-align: center;
    padding: 5px;
}
.pie h4{
    padding: 15px;
    font-size: 15px;
    background-color: rgb(240, 161, 220);
   
}

/*card*/
.card{
    /*sombra derecha-izquierda*/

    box-shadow: 0 4px 8px black;
    overflow: hidden;
    max-width: 300px;
    margin: 20px;
    text-align: center;
    border: 3px solid;
    border-radius: 30px;

}

.card :hover {
max-width: 350px;
}

.card img { 
    background-color: rgb(192, 17, 17);

}


.title {
   
    color: rgb(132, 130, 239);
    font-size: 30px;
}
button{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:rgb(153, 151, 253);

    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.scope-one-regular{
    font-family: "Scope One", serif;
    font-weight: 400;
    font-style: normal;
}
.linea{
    width: 80%;
    height: 1px;
    background-color: #000;
    margin: 20px auto;
}

.pattaya-regular {
    font-family: "Pattaya", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    
}
.item{
    
    max-width: 200px;
    margin: 5px;
    border: 2px solid;
    text-align: center;
    line-height: 25px;
    font-size: 25px;
    
}

nav {
    background-color: #333;
    padding: 0;
  }
  
  .menu-btn {
    display: inline-block;
    cursor: pointer;
  }
  
  .menu-btn img {
    width: 30px;
    height: 30px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
  }
  
  a {
    color: rgb(112, 0, 87);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .container{
    max-width: 1110px;
    margin: 0 auto;
    }
    
  
    
    .menu{
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
    }
    
    .logo{
    font-size: 30px;
    color: aqua;
    font-weight: 800;
    text-transform: uppercase;
    }
    .menu .navbar ul li{
    position: relative;
    float: left;
    }
    .menu .navbar ul li a{
    font-size: 20px;
    padding: none;
    color: rgb(255, 255, 255);
    display:flex;
    }
    .menu .navbar ul li a:hover{
    color: rgb(110, 13, 13);
    }
    #menu{
    display: none;
    }
    .menu-icono{
    width: 25px;
    }
    
    .menu label{
     cursor: pointer;
    display: none;
    }
    #menu:checked ~ .navbar{
    display: initial;
    }



  @media(max-width:991px)
  {
   .menu{
   padding: 30px;
   }
   .menu label{
   display: initial;
   }
  .menu .navbar{
   position: absolute;
   top: 100%;
   left: 0;
   right: 0;
   background-color: rgb(104, 217, 200);
   display: none;
 }
  
  .menu .navbar ul li{
  width: 100%;
  }
  
  #menu:checked ~ .navbar{
  display: initial;
  
  }
  }


