/*selector universal*/
*{
    margin:0;
    margin: 0;
}
/*selector de  etiqueta*/

body{
    background-color: rgb(234, 177, 224);
    color: rgb(153, 151, 253);
}
/*selector de id*/

#contenedor{
height: 100px;
width: 90%;
background-color: rgb(255, 227, 251);
margin: 10px;
padding: 20px;

}
#encabezado{
width: 90%;
background-color: rgb(255, 251, 194);
margin: 1em;
border-radius: 5px;
text-align: center;

}
.pattaya-regular {
    font-family: "Pattaya", sans-serif;
    font-weight: 400;
    font-style: normal;
  }